<small>Find me in app/views/repositories/new.html.erb</small>

<%= form_for @repository do |f| %>

    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %><br/>
    </div>

    <%= f.submit "Submit", disable_with: 'Submiting...', class: 'btn btn-success' %>
    <%= link_to 'Cancel', repositories_path, class: 'btn btn-default cancel-button' %>
<% end %>
