<p>Find me in app/views/repositories/branches/new.html.erb</p>

<%= form_for @branch do |f| %>

    <div class="form-group">
        <%= f.label :basedon_branch %>
        <%= f.select :basedon_branch, Branch.all.collect {|branch| [branch.name, branch.id]}, {:include_blank => "Select Branch"}, class: 'form-control' %><br/>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %><br/>
    </div>

    <%= f.submit "Submit", disable_with: 'Submiting...', class: 'btn btn-success' %>
    <%= link_to 'Cancel', repositories_show_path(:id => @repository.id), class: 'btn btn-default cancel-button' %>

<% end %>

